<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="wowiebot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="twitchat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <wowiebot.Properties.Settings>
            <setting name="prevChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="userCookie" serializeAs="String">
                <value />
            </setting>
            <setting name="oauthCookie" serializeAs="String">
                <value />
            </setting>
            <setting name="quotes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="prefix" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="enableLinkTitles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="choices8Ball" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>yes</string>
                        <string>no</string>
                        <string>try again later</string>
                        <string>maybe~</string>
                        <string>idk ask scatter</string>
                        <string>hecc no</string>
                        <string>hecc yeah</string>
                        <string>you wish</string>
                        <string>signs point to yes</string>
                        <string>signs point to no</string>
                        <string>4 shur</string>
                        <string>i know nothing don't ask me again please i'm just a young bot D:</string>
                        <string>what do you think ;)</string>
                        <string>yank train</string>
                        <string>nuns on ripple</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="commandsDataTableJson" serializeAs="String">
                <value />
            </setting>
            <setting name="quoteAddingMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="quoteVotersNumber" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="emptyQuotesMessage" serializeAs="String">
                <value>No quotes. I guess $BROADCASTER isn't funny or quotable.</value>
            </setting>
            <setting name="periodicMessagesDataTableJson" serializeAs="String">
                <value />
            </setting>
            <setting name="minimumMessagesBetweenPeriodic" serializeAs="String">
                <value>1</value>
            </setting>
        </wowiebot.Properties.Settings>
        <twitchat.Properties.Settings>
            <setting name="prevChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="userCookie" serializeAs="String">
                <value />
            </setting>
            <setting name="oauthCookie" serializeAs="String">
                <value />
            </setting>
            <setting name="longestYeahBoiEver" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="prefix" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="enableQuotes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableUptime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableTitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableLinkTitles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableYeahBoi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableDiscord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="discordServer" serializeAs="String">
                <value />
            </setting>
        </twitchat.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>